<form role="form" name="frm" ng-submit="submit()">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()"></button>
    <h4 class="modal-title"><%= modelName %></h4>
  </div>
  <div class="modal-body">
    <% columns.forEach(function(col){
      %>
    <div class="form-group">
      <label class="control-label" for="<%=col.name%>"><%=col.displayName%></label>
      <%- col.formControl %>
    </div>
    <%
    }) %>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" translate="Submit"></button>
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$dismiss()" translate="Cancel"></button>
  </div>
</form>
