<div class="page-content">
  <!-- BEGIN PAGE HEADER-->
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN PAGE TITLE & BREADCRUMB-->
      <h3 class="page-title">
        Blank Page
        <small>blank page</small>
      </h3>
      <div ncy-breadcrumb></div>
      <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
  </div>
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  <div class="row">
    <div class="col-md-12">
      <div class="grid" ui-grid="gridOptions"
           ui-grid-edit
           ui-grid-move-columns
           ui-grid-auto-resize
           ui-grid-pinning
           ui-grid-resize-columns
           ui-grid-selection>
      </div>
    </div>
  </div>
  <!-- END PAGE CONTENT-->
</div>



