

<div class="page-content">
  <!-- BEGIN PAGE HEADER-->
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN PAGE TITLE & BREADCRUMB-->
      <h3 class="page-title">
        Blank Page <small>blank page</small>
      </h3>
      <div ncy-breadcrumb></div>
      <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
  </div>
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->
  <div class="row">
    <div class="col-md-12">
      setting
      <tabset>
        <tab heading="常规设置"></tab>
        <tab heading="视图设置"></tab>
        <tab heading="权限设置"></tab>
        <tab heading="工作流设置"></tab>
      </tabset>
      <a ui-sref="main.wrkSetting({list:$stateParams.list})" translate="Workflow Setting"></a>

    </div>
  </div>
  <!-- END PAGE CONTENT-->
</div>
