<div class="page-content">
  <!-- BEGIN PAGE HEADER-->
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN PAGE TITLE & BREADCRUMB-->
      <h3 class="page-title">
        {{'Workflow History' | translate}}
        <small></small>
      </h3>
      <div ncy-breadcrumb></div>
      <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
  </div>
  <!-- END PAGE HEADER-->
  <!-- BEGIN PAGE CONTENT-->

  <div class="panel panel-warning">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h3 class="panel-title">开始新的工作流</h3>
    </div>
    <div class="panel-body">
      <p>
        Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
        Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id
        elit.
      </p>
    </div>
    <!-- List group -->
    <ul class="list-group">
      <a class="list-group-item" ng-repeat="ass in wfAss" ng-bind="ass.title" href
         ng-click="initialWorkflow(ass)"> </a>
    </ul>
  </div>


  <div class="panel panel-warning">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h3 class="panel-title">Workflow Logs</h3>
    </div>
    <div class="panel-body">
    </div>
    <!-- List group -->
    <div class="list-group">
      <a ui-sref="main.wrkStat({workflow:log.workflowAssociation.title,instanceId:log.id})" class="list-group-item"
         ng-repeat="log in workflowLog | orderBy:['-workflowState','-completeAt','-created']">
        {{log}}
        {{log.workflowAssociation.title}}

        //TODO:时间
        <span ng-bind="log.created | date:'yyyy-MM-dd HH:mm:ss'"></span>
        <span ng-bind="log.completeAt | date:'yyyy-MM-dd HH:mm:ss'"></span>

        <span class="badge badge-info" ng-bind="log.workflowState"></span>
      </a>
    </div>
  </div>
  <!-- END PAGE CONTENT-->
</div>





